[core]
	editor = vim
	excludesfile = ~/.gitlocalignore
[merge]
	tool = meld
[credential]
	helper = cache --timeout=3600
[alias]
	co = checkout
	last = log -7 --color --graph HEAD
	lg = log --graph --all --format='%C(yellow)%h %C(bold red)%d %Creset%s %Cgreen(%cr) %C(bold blue)<%an>'
	alias = config --get-regexp ^alias\\.
	ignore = "update-index --assume-unchanged "
	ignorenot = "update-index --no-assume-unchanged "
	ignoreshow = ls-files -v | grep '^h'
